# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem
tsconfig.tsbuildinfo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# Local ENV files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Nx
.nx

# Turborepo
.turbo

apps/docs/.next
packages/**/dist
packages/**/dist/**
packages/**/coverage
packages/**/docs/**/package-metadata.json
packages/**/docs/package-metadata.json
packages/icons/svgs/*

apps/docs/src/app/docs/(pages)/*