.gradientHeading {
  width: fit-content;
  background: -webkit-linear-gradient(45deg,  var(--fonts-token_100) 0%, var(--secondary-token_100) 50%, var(--tertiary-token_100) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animatedBackground {
  background: linear-gradient(
    -45deg,
    var(--fonts-token_100),
    var(--secondary-token_100),
    var(--tertiary-token_100),
    var(--fonts-token_100),
  );
  background-size: 400% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: backgroundAnimation 15s ease infinite;
}

@keyframes backgroundAnimation {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 150% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}