.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.wrap {
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.slim {
    font-weight: 100;
}

.link {
    > a {
        cursor: pointer;
        outline: none;
        text-decoration: none;
    }
}

.fullWidth {
    width: 100%;
    box-sizing: border-box;
}

.buttonLink {
    font-weight: bold;
    border-style: solid;
    border-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.buttonLinkRadius {
    border-radius: 10px;
}

.buttonLinkIcon {
    border-radius: 50%;
    padding: 10px;
}
