.monthWrapper {
    border-left: 1px solid var(--primary-token_50);
    flex-grow: 1;
}

.monthWrapperMenu {
    border-top: 1px solid var(--primary-token_50);
    flex-grow: 1;
}

.closeButtonWrapperDialog {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}

.closeButtonWrapperMenu {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--primary-token_50);
    padding: 0 5px;
}

.pickerMonthContainer {
    padding: 5px;
}

.dayTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--texts-small);
}

.pickerWeekEmptySlot {
    width: 50px;
    height: 50px;
}

.dayWrapperButton {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: var(--fonts-token_100);
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--primary-token_200);
        color: var(--fonts-token-100);
    }

    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
        &:hover {
            background-color: transparent;
        }
    }
}

.hightlightWrapperButton {
    background-color: var(--primary-token_10);
}

.selectedDayWrapperButton {
    background-color: var(--secondary-token_100);
    color: var(--inverse-fonts-token_100);
}