.timepickerContainer {
  min-width: 200px;
  height: 200px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timepickerValuesWrapper {
  height: 100%;
  overflow: auto;
}

.timePlayback {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.nowButtonContainer {
  border-top: 2px solid var(--secondary-token_100);
}

.headingsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: .5rem 0;
  box-sizing: border-box;
  border-bottom: 2px solid var(--secondary-token_100);

  p {
    width: 100%;
  }
}