.input {
    font-family: var(--font-family);
    color: var(--fonts-token_100);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    outline: none;
    width: 100%;
    box-sizing: border-box;

    &:disabled {
      cursor: not-allowed;
    }
}

.wrapperInput {
    display: flex;
    gap: var(--spacing-two);
}

.wrapperAlignedColumn {
    flex-direction: column;
}

.inputContentDiv {
    position: relative;
}

.inputDiv {
    width: 100%;
    display: inline-block;
    flex-grow: 1;
    position: relative;
}

.inputContainer {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.inputIconContainer {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.inputIcon {
    padding-left: calc(var(--texts-large) * 1.25) !important;
}