.select {
    font-family: var(--font-family);
    color: var(--fonts-token_100);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border-width: 2px;

    &:disabled {
        cursor: not-allowed;
    }
}

.selectWrapper {
    display: flex;
}

.selectContainer {
    width: 100%;
    display: inline-block;
    flex-grow: 1;
}

.selectDiv {
    width: 100%;
}