.switchLabel {
    font-size: var(--texts-regular);
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 10px;
}

.checkboxInput {
    width: 0;
    height: 0;
    visibility: hidden;

    &:disabled + label {
      cursor: not-allowed;
    }
}

.checkboxPillWrapper {
    width: 50px;
    height: 20px;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.2s;
}

.checkboxPillDot {
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 20px;
    height: 18px;
    border-radius: 20px;
    transition: 0.2s;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    background-color: var(--inverse-fonts-token_100);
}

.checkedDot {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.switch {
    position: relative;
    display: flex;
    flex-direction: column;
}