.button {
    font-weight: bold;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &:disabled {
        cursor: not-allowed;
    }
}

.buttonFullWidth {
    width: 100%;
}

.buttonFullHeight {
    height: 100%;
}

.buttonClear {
    border-width: 0;
}

.buttonOutlined {
    padding: 5px 10px 5px 10px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.buttonIcon {
    color: var(--fonts-token_100);
    padding: 10px;
    border-radius: 50%;
    display: inline-flex;
    border-width: 0px;
}

.buttonRadius {
    border-radius: 3px;
}