/** @UiReact Theme CSS Variables */

:root {
    --fonts-token_10: #ffffff;
    --fonts-token_50: #f0f0f0;
    --fonts-token_100: #e0dede;
    --fonts-token_150: #c9c9c9;
    --fonts-token_200: #b3b3b3;
    --primary-token_10: #3B3B3B;
    --primary-token_50: #272727;
    --primary-token_100: #0F0F0F;
    --primary-token_150: #070707;
    --primary-token_200: #000000;
    --secondary-token_10: #3A236A;
    --secondary-token_50: #321F59;
    --secondary-token_100: #29184C;
    --secondary-token_150: #231345;
    --secondary-token_200: #180B33;
    --tertiary-token_10: #61C9FC;
    --tertiary-token_50: #45C0FB;
    --tertiary-token_100: #1FB6FF;
    --tertiary-token_150: #18A9EF;
    --tertiary-token_200: #129CDF;
    --positive-token_10: #67b879;
    --positive-token_50: #49a35d;
    --positive-token_100: #368f4a;
    --positive-token_150: #278c3e;
    --positive-token_200: #186e2c;
    --negative-token_10: #a6a4a4;
    --negative-token_50: #827f7f;
    --negative-token_100: #636161;
    --negative-token_150: #424141;
    --negative-token_200: #1c1b1b;
    --error-token_10: #c21f1f;
    --error-token_50: #a82020;
    --error-token_100: #911919;
    --error-token_150: #6b1212;
    --error-token_200: #470b0b;
    --warning-token_10: #e0d902;
    --warning-token_50: #b5af02;
    --warning-token_100: #948f01;
    --warning-token_150: #757105;
    --warning-token_200: #575406;
    --inverse-fonts-token_10: #6e6e6e;
    --inverse-fonts-token_50: #444544;
    --inverse-fonts-token_100: #282928;
    --inverse-fonts-token_150: #262626;
    --inverse-fonts-token_200: #0a0a0a;
    --inverse-primary-token_10: #FFFFFF;
    --inverse-primary-token_50: #FAFAFA;
    --inverse-primary-token_100: #F6F5F5;
    --inverse-primary-token_150: #DEDDDD;
    --inverse-primary-token_200: #D3D2D2;
    --inverse-secondary-token_10: #65C7F6;
    --inverse-secondary-token_50: #59BEEF;
    --inverse-secondary-token_100: #44B0E4;
    --inverse-secondary-token_150: #3BADE5;
    --inverse-secondary-token_200: #2F9ED5;
    --inverse-tertiary-token_10: #61C9FC;
    --inverse-tertiary-token_50: #45C0FB;
    --inverse-tertiary-token_100: #1FB6FF;
    --inverse-tertiary-token_150: #18A9EF;
    --inverse-tertiary-token_200: #129CDF;
    --inverse-positive-token_10: #62fc84;
    --inverse-positive-token_50: #45DC66;
    --inverse-positive-token_100: #30BF4F;
    --inverse-positive-token_150: #2CAF49;
    --inverse-positive-token_200: #1c8032;
    --inverse-negative-token_10: #e3e3e3;
    --inverse-negative-token_50: #B5B4B4;
    --inverse-negative-token_100: #9B9A9A;
    --inverse-negative-token_150: #7C7C7C;
    --inverse-negative-token_200: #595858;
    --inverse-error-token_10: #f7a3a3;
    --inverse-error-token_50: #FF8181;
    --inverse-error-token_100: #FD6A6A;
    --inverse-error-token_150: #FF5A5A;
    --inverse-error-token_200: #de3737;
    --inverse-warning-token_10: #fcf651;
    --inverse-warning-token_50: #DED802;
    --inverse-warning-token_100: #C8C204;
    --inverse-warning-token_150: #BFB903;
    --inverse-warning-token_200: #8a8601;
    --headings-level1: 34px;
    --headings-level2: 30px;
    --headings-level3: 28px;
    --headings-level4: 26px;
    --headings-level5: 24px;
    --headings-level6: 18px;
    --texts-xsmall: 12px;
    --texts-small: 14px;
    --texts-regular: 16px;
    --texts-large: 20px;
    --texts-xlarge: 24px;
    --spacing-one: 1px;
    --spacing-two: 2px;
    --spacing-three: 4px;
    --spacing-four: 8px;
    --spacing-five: 16px;
    --spacing-six: 32px;
    --spacing-seven: 64px;
}

.dark {
    --fonts-token_10: #ffffff;
    --fonts-token_50: #f0f0f0;
    --fonts-token_100: #e0dede;
    --fonts-token_150: #c9c9c9;
    --fonts-token_200: #b3b3b3;
    --primary-token_10: #3B3B3B;
    --primary-token_50: #272727;
    --primary-token_100: #0F0F0F;
    --primary-token_150: #070707;
    --primary-token_200: #000000;
    --secondary-token_10: #3A236A;
    --secondary-token_50: #321F59;
    --secondary-token_100: #29184C;
    --secondary-token_150: #231345;
    --secondary-token_200: #180B33;
    --tertiary-token_10: #61C9FC;
    --tertiary-token_50: #45C0FB;
    --tertiary-token_100: #1FB6FF;
    --tertiary-token_150: #18A9EF;
    --tertiary-token_200: #129CDF;
    --positive-token_10: #67b879;
    --positive-token_50: #49a35d;
    --positive-token_100: #368f4a;
    --positive-token_150: #278c3e;
    --positive-token_200: #186e2c;
    --negative-token_10: #a6a4a4;
    --negative-token_50: #827f7f;
    --negative-token_100: #636161;
    --negative-token_150: #424141;
    --negative-token_200: #1c1b1b;
    --error-token_10: #c21f1f;
    --error-token_50: #a82020;
    --error-token_100: #911919;
    --error-token_150: #6b1212;
    --error-token_200: #470b0b;
    --warning-token_10: #e0d902;
    --warning-token_50: #b5af02;
    --warning-token_100: #948f01;
    --warning-token_150: #757105;
    --warning-token_200: #575406;
    --inverse-fonts-token_10: #6e6e6e;
    --inverse-fonts-token_50: #444544;
    --inverse-fonts-token_100: #282928;
    --inverse-fonts-token_150: #262626;
    --inverse-fonts-token_200: #0a0a0a;
    --inverse-primary-token_10: #FFFFFF;
    --inverse-primary-token_50: #FAFAFA;
    --inverse-primary-token_100: #F6F5F5;
    --inverse-primary-token_150: #DEDDDD;
    --inverse-primary-token_200: #D3D2D2;
    --inverse-secondary-token_10: #65C7F6;
    --inverse-secondary-token_50: #59BEEF;
    --inverse-secondary-token_100: #44B0E4;
    --inverse-secondary-token_150: #3BADE5;
    --inverse-secondary-token_200: #2F9ED5;
    --inverse-tertiary-token_10: #61C9FC;
    --inverse-tertiary-token_50: #45C0FB;
    --inverse-tertiary-token_100: #1FB6FF;
    --inverse-tertiary-token_150: #18A9EF;
    --inverse-tertiary-token_200: #129CDF;
    --inverse-positive-token_10: #62fc84;
    --inverse-positive-token_50: #45DC66;
    --inverse-positive-token_100: #30BF4F;
    --inverse-positive-token_150: #2CAF49;
    --inverse-positive-token_200: #1c8032;
    --inverse-negative-token_10: #e3e3e3;
    --inverse-negative-token_50: #B5B4B4;
    --inverse-negative-token_100: #9B9A9A;
    --inverse-negative-token_150: #7C7C7C;
    --inverse-negative-token_200: #595858;
    --inverse-error-token_10: #f7a3a3;
    --inverse-error-token_50: #FF8181;
    --inverse-error-token_100: #FD6A6A;
    --inverse-error-token_150: #FF5A5A;
    --inverse-error-token_200: #de3737;
    --inverse-warning-token_10: #fcf651;
    --inverse-warning-token_50: #DED802;
    --inverse-warning-token_100: #C8C204;
    --inverse-warning-token_150: #BFB903;
    --inverse-warning-token_200: #8a8601;
    --headings-level1: 34px;
    --headings-level2: 30px;
    --headings-level3: 28px;
    --headings-level4: 26px;
    --headings-level5: 24px;
    --headings-level6: 18px;
    --texts-xsmall: 12px;
    --texts-small: 14px;
    --texts-regular: 16px;
    --texts-large: 20px;
    --texts-xlarge: 24px;
    --spacing-one: 1px;
    --spacing-two: 2px;
    --spacing-three: 4px;
    --spacing-four: 8px;
    --spacing-five: 16px;
    --spacing-six: 32px;
    --spacing-seven: 64px;
}

.light {
    --fonts-token_10: #6e6e6e;
    --fonts-token_50: #444544;
    --fonts-token_100: #282928;
    --fonts-token_150: #262626;
    --fonts-token_200: #0a0a0a;
    --primary-token_10: #FFFFFF;
    --primary-token_50: #FAFAFA;
    --primary-token_100: #F6F5F5;
    --primary-token_150: #DEDDDD;
    --primary-token_200: #D3D2D2;
    --secondary-token_10: #65C7F6;
    --secondary-token_50: #59BEEF;
    --secondary-token_100: #44B0E4;
    --secondary-token_150: #3BADE5;
    --secondary-token_200: #2F9ED5;
    --tertiary-token_10: #61C9FC;
    --tertiary-token_50: #45C0FB;
    --tertiary-token_100: #1FB6FF;
    --tertiary-token_150: #18A9EF;
    --tertiary-token_200: #129CDF;
    --positive-token_10: #62fc84;
    --positive-token_50: #45DC66;
    --positive-token_100: #30BF4F;
    --positive-token_150: #2CAF49;
    --positive-token_200: #1c8032;
    --negative-token_10: #e3e3e3;
    --negative-token_50: #B5B4B4;
    --negative-token_100: #9B9A9A;
    --negative-token_150: #7C7C7C;
    --negative-token_200: #595858;
    --error-token_10: #f7a3a3;
    --error-token_50: #FF8181;
    --error-token_100: #FD6A6A;
    --error-token_150: #FF5A5A;
    --error-token_200: #de3737;
    --warning-token_10: #fcf651;
    --warning-token_50: #DED802;
    --warning-token_100: #C8C204;
    --warning-token_150: #BFB903;
    --warning-token_200: #8a8601;
    --inverse-fonts-token_10: #ffffff;
    --inverse-fonts-token_50: #f0f0f0;
    --inverse-fonts-token_100: #e0dede;
    --inverse-fonts-token_150: #c9c9c9;
    --inverse-fonts-token_200: #b3b3b3;
    --inverse-primary-token_10: #3B3B3B;
    --inverse-primary-token_50: #272727;
    --inverse-primary-token_100: #0F0F0F;
    --inverse-primary-token_150: #070707;
    --inverse-primary-token_200: #000000;
    --inverse-secondary-token_10: #3A236A;
    --inverse-secondary-token_50: #321F59;
    --inverse-secondary-token_100: #29184C;
    --inverse-secondary-token_150: #231345;
    --inverse-secondary-token_200: #180B33;
    --inverse-tertiary-token_10: #61C9FC;
    --inverse-tertiary-token_50: #45C0FB;
    --inverse-tertiary-token_100: #1FB6FF;
    --inverse-tertiary-token_150: #18A9EF;
    --inverse-tertiary-token_200: #129CDF;
    --inverse-positive-token_10: #67b879;
    --inverse-positive-token_50: #49a35d;
    --inverse-positive-token_100: #368f4a;
    --inverse-positive-token_150: #278c3e;
    --inverse-positive-token_200: #186e2c;
    --inverse-negative-token_10: #a6a4a4;
    --inverse-negative-token_50: #827f7f;
    --inverse-negative-token_100: #636161;
    --inverse-negative-token_150: #424141;
    --inverse-negative-token_200: #1c1b1b;
    --inverse-error-token_10: #c21f1f;
    --inverse-error-token_50: #a82020;
    --inverse-error-token_100: #911919;
    --inverse-error-token_150: #6b1212;
    --inverse-error-token_200: #470b0b;
    --inverse-warning-token_10: #e0d902;
    --inverse-warning-token_50: #b5af02;
    --inverse-warning-token_100: #948f01;
    --inverse-warning-token_150: #757105;
    --inverse-warning-token_200: #575406;
}

/** @UiReact CSS modules dependencies  */

@import url(../../node_modules/@uireact/badge/dist/index.css);
@import url(../../node_modules/@uireact/view/dist/index.css);
@import url(../../node_modules/@uireact/button/dist/index.css);
@import url(../../node_modules/@uireact/card/dist/index.css);
@import url(../../node_modules/@uireact/header/dist/index.css);
@import url(../../node_modules/@uireact/text/dist/index.css);
