.table {
    width: 100%;

    th {
        border: 0;
        margin: 0;
    }
}

.tableHeadingCol {
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--fonts-token_100);

    &:hover {
        color: var(--fonts-token_200);
    }
}

.tableCol {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.caretsWrapper {
    display: inline-block;
    width: var(--texts-regular);
}

.tableRowPointer {
    cursor: pointer;
    transition: background .2s;
}
