.align-center {
    align-self: center;
}
.align-start {
    align-self: flex-start;
}
.align-end {
    align-self: flex-end;
}
.align-auto {
    align-self: auto;
}

.grow-0 {
    flex-grow: 0;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.shrink-0 {
    flex-shrink: 0;
}

.shrink-1 {
    flex-shrink: 1;
}

.shrink-2 {
    flex-shrink: 2;
}